<%- include('../layouts/header1.ejs') %>
<br><br><br><br>
<center>
<div style="display: flex; flex-direction:column;" >
    <% if(typeof user.image.data!=='undefined') { %> 
    <img style="width: 100px; height: 100px;" src="data:<%= user.image.contentType %>;base64, <%= user.image.data.toString('base64') %> " alt="image not found"><br>
    <% } else { %>
        image not available
        <% } %> 
    <!-- <form action="/image" method="POST" >
        <label for="name"> Name </label>
        <input type="text" name="name" value="<%= user.name %>"><br>
        <label for="mobileno">Mobile No: </label>
        <input type="text" name="mobile" value="<%= user.mobile %>"><br>
        <label for="email">email</label>
        <input type="text" name="email" value="<%= user.email %>"><br>
        <input type="button" value="submit" onclick="this.form.submit()">
    </form>-->

    <form action="/updateuser" method="POST" enctype="multipart/form-data">
        <label for="name">Name:</label>
        <input type="text" name="newname" value="<%= user.name %>"><br>
      
        <label for="mobile">Mobile No:</label>
        <input type="text" name="mobile" value="<%= user.mobile %>"><br>
      
        <label for="email">Email:</label>
        <input type="text" name="newemail" value="<%= user.email %>"><br>
        <% if(typeof user.image.data!=='undefined') { %> 
            <label for="image">Update Profile pic</label>
        <input type="file" name="image" placeholder="update profile pic" accept="image/*"> <br>
            <% } else { %>
                <label for="image">add Profile pic</label>
                <input type="file" name="image" placeholder="add Profile pic" accept="image/*" >
                <% } %> 
       
      
        <input type="submit" value="Submit">
      </form>
      
   
</div>
</center>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>
<br><br><br><br>


    <%- include('../users/footer.ejs') %>